
plonkext.aux
macros.aux
plonkext.bbl
plonkext.blg
plonkext.log
plonkext.out
plonkext.pdf
plonkext.synctex.gz
.DS_Store
plonkext.dvi
*.aux
*.bbl
*.blg
*.out
*.pdf
*.gz
*.log
*.aux
ECsubmission/main.aux
ECsubmission/main.log
ECsubmission/main.out
ECsubmission/main.pdf
ECsubmission/main.synctex.gz
ECsubmission/cryptobib/abbrev0.bib
ECsubmission/cryptobib/abbrev1.bib
ECsubmission/cryptobib/abbrev2.bib
ECsubmission/cryptobib/abbrev3.bib
ECsubmission/cryptobib/changes.txt
ECsubmission/cryptobib/crypto.bib
ECsubmission/main.aux
*.aux
ECsubmission/main.log
ECsubmission/main.pdf
ECsubmission/main.synctex.gz
ECsubmission/main.aux
ECsubmission/main.log
ECsubmission/main.aux
ECsubmission/main.log
ECsubmission/main.out
ECsubmission/main.pdf
ECsubmission/main.synctex.gz
ECsubmission/main.synctex.gz
ECsubmission/main.pdf
ECsubmission/main.out
ECsubmission/main.log
ECsubmission/main.aux
